* {
  font-size: 1.6rem;
}

section {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  div {
    width: 5rem;
    height: 5rem;
    background-color: blue;
    margin: 0.5rem;
  }
}
