<section>
  <button (click)="dataLoader()">GET USERS</button>
  <div class="users" *ngIf="!loading; else loadingMsg">
    <div class="user" *ngFor="let user of data">
      <div [appUserColor]="user.status" class="paragraphs">
        <p>Name: {{user.firstname}}</p>
        <p>Surname: {{user.lastname}}</p>
        <p>Age: {{user.birthdate | yearsOld}}</p>
        <p>About: {{user.about}}</p>
      </div>
      <button [ngStyle]="{'background-color': user.status==status.Active?
        color.Green: user.status==status.Inactive?
        color.Red:color.Blue}" class="status">{{user.status |
        uppercase }}</button>
    </div>

  </div>

  <ng-template #loadingMsg>
    <p id="loading">Loading...</p>
  </ng-template>
</section>

<app-boxes></app-boxes>